*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

!.gitattributes
!.gitignore
!.gitkeep
!README.adoc
!Makefile
!Dockerfile
!*.properties
!*.gradle
!*.yml
!*.yaml
!*.java
!*.json
!*.sh
!*/
