*

# Ignore Gradle project-specific cache directory
.gradle
gradle
build

# Allow Git config files
!.gitattributes
!.gitignore
!.gitkeep

# Allow Gradle files
!gradle.properties
!build.gradle
!settings.gradle

# Allow java project files
!*.java
!*.sh

# Allow Github Actions project files
!*.yaml
!*.yml

# Allow Readme, Makefile, Dockerfile
!README.adoc
!Makefile
!Dockerfile

!*/
